@import 'tailwindcss';

:root {
  --bg-primary: #ffffff;
  --bg-secondary: #606060;
  --text-primary: #000000;
  --text-secondary: #606060;
  --accent: #f5a623;
  --border: rgba(0, 0, 0, 0.12);
  --color-text-inverse: #494848;
  --color-text-secondary: #636363;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-primary: #000000;
    --bg-secondary: #2e2e2e;
    --text-primary: #ffffff;
    --text-secondary: #606060;
    --accent: #f5a623;
    --border: rgba(255, 255, 255, 0.1);
    --color-text-inverse: #b4b4b4;
    --color-text-secondary: #d4d4d4;
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

body {
  @apply antialiased;
  background-color: var(--bg-primary);
  color: var(--text-primary);
}

:root {
  --grid-line: rgba(0, 0, 0, 0.08);
}

@media (prefers-color-scheme: dark) {
  :root {
    --grid-line: rgba(255, 255, 255, 0.08);
  }
}

.fb-iframe-scale {
  transform: scale(1);
}

@media (max-width: 500px) {
  .fb-iframe-scale {
    transform: scale(calc(100vw / 500));
  }
  .fb-iframe-scale-wrapper {
    height: calc(700px * (100vw / 500));
  }
}
