@import "tailwindcss";

:root {
  --bg: #000000;
  --fg: #ffffff;
  --text-muted: #a1a1aa;     /* zinc-400 */
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #ffffff;
    --fg: #000000;
     --text-muted: #71717a;    /* zinc-500 */
  }
}

html {
  scroll-behavior: smooth;
  background-color: var(--bg);
  color: var(--fg);
}

body {
  @apply antialiased;
  background-color: var(--bg);
  color: var(--fg);
}